@page "/ressources"

<h1>Resources & Useful Links</h1>

<ul class="list-group mt-3">
    <li class="list-group-item"><a href="https://www.bloomberg.com" target="_blank">Bloomberg</a></li>
    <li class="list-group-item"><a href="https://www.reuters.com" target="_blank">Reuters</a></li>
    <li class="list-group-item"><a href="https://www.ft.com" target="_blank">Financial Times</a></li>
    <li class="list-group-item"><a href="https://www.investing.com" target="_blank">Investing.com</a></li>
    <li class="list-group-item"><a href="https://finance.yahoo.com" target="_blank">Yahoo Finance</a></li>
</ul>
